.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #000000;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding: 30px 15px;
  }
}
.freeBox__ehNm7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ehNm7 {
    padding: 27px 30px 34px 27px;
  }
}
.freeBox__zPLO {
  display: flex;
  position: relative;
  max-width: var(--token-GZfGS5ASd6Pg);
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: var(--token-uWzFu9K4MvCy);
}
.freeBox__zPLO > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__zPLO > :global(.__wab_flex-container) > *,
.freeBox__zPLO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zPLO > :global(.__wab_flex-container) > picture > img,
.freeBox__zPLO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zPLO {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zPLO > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zPLO > :global(.__wab_flex-container) > *,
  .freeBox__zPLO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zPLO > :global(.__wab_flex-container) > picture > img,
  .freeBox__zPLO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__cBChb {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__cBChb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__cBChb > :global(.__wab_flex-container) > *,
.freeBox__cBChb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cBChb > :global(.__wab_flex-container) > picture > img,
.freeBox__cBChb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___1NxQ1 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___1NxQ1 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox___1NxQ1 > :global(.__wab_flex-container) > *,
.freeBox___1NxQ1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1NxQ1 > :global(.__wab_flex-container) > picture > img,
.freeBox___1NxQ1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.h3___2Ljvc {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-LIgRwVlVmsrK);
  margin-top: calc(0px + 15px) !important;
}
.text___7FzM {
  color: var(--token-LIgRwVlVmsrK);
}
.text__mq2Ud {
  color: var(--token-LIgRwVlVmsrK);
}
.freeBox__wdz1Q {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wdz1Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wdz1Q > :global(.__wab_flex-container) > *,
.freeBox__wdz1Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wdz1Q > :global(.__wab_flex-container) > picture > img,
.freeBox__wdz1Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__rwbb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__q1JlB {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-4IRR8jyHTel9);
  flex-shrink: 0;
}
.link__r5TL4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___1UFjs {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-4IRR8jyHTel9);
  flex-shrink: 0;
}
.link__cOeof {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__lojpU {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-4IRR8jyHTel9);
  flex-shrink: 0;
}
.freeBox__heJwe {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__heJwe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__heJwe > :global(.__wab_flex-container) > *,
.freeBox__heJwe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__heJwe > :global(.__wab_flex-container) > picture > img,
.freeBox__heJwe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__wyMsI {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-LIgRwVlVmsrK);
  padding-bottom: 0px;
  margin-top: calc(0px + 16px) !important;
}
.link__vrt5I {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__vrt5I > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__vrt5I > :global(.__wab_flex-container) > *,
.link__vrt5I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__vrt5I > :global(.__wab_flex-container) > picture > img,
.link__vrt5I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uHiQv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__xsSNj {
  color: var(--token-LIgRwVlVmsrK);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg__zBiJj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__gdkYp {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__gdkYp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__gdkYp > :global(.__wab_flex-container) > *,
.link__gdkYp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__gdkYp > :global(.__wab_flex-container) > picture > img,
.link__gdkYp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__zkyoa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___1Q0Mp {
  color: var(--token-LIgRwVlVmsrK);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg__jZigO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__ggmbe {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__ggmbe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ggmbe > :global(.__wab_flex-container) > *,
.freeBox__ggmbe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ggmbe > :global(.__wab_flex-container) > picture > img,
.freeBox__ggmbe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__tgevn {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-LIgRwVlVmsrK);
  height: auto;
  margin-top: calc(0px + 16px) !important;
}
.link__el87C {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__el87C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__el87C > :global(.__wab_flex-container) > *,
.link__el87C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__el87C > :global(.__wab_flex-container) > picture > img,
.link__el87C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__dGczf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__nMlaA {
  color: var(--token-LIgRwVlVmsrK);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
}
.svg__c8JEj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__gEjRn {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__gEjRn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__gEjRn > :global(.__wab_flex-container) > *,
.link__gEjRn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__gEjRn > :global(.__wab_flex-container) > picture > img,
.link__gEjRn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__yeRve {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__rTBoT {
  color: var(--token-LIgRwVlVmsrK);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
}
.svg__tFt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
