.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#363636c4, #363636c4),
    url("/plasmic/professional_services/images/baerMainjpg.jpg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token-4IRR8jyHTel9);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: linear-gradient(#363636c4, #363636c4),
      url("/plasmic/professional_services/images/woman32879561920Jpg.jpg") top 50% left 50% / cover repeat;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    min-width: 0;
    border-radius: 0px;
    padding: 80px 20px;
    border-style: solid;
    border-color: var(--token-4IRR8jyHTel9);
  }
}
.freeBox__dwder {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-GZfGS5ASd6Pg);
  min-width: 0;
  padding: var(--token-uWzFu9K4MvCy);
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #efefef;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #efefef;
    min-width: 0;
    padding: 80px 20px;
  }
}
.freeBox__gj0Nr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-GZfGS5ASd6Pg);
  min-width: 0;
  padding: 0px;
}
.freeBox___00LO9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___00LO9 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__kDyd4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__kDyd4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__kDyd4 > :global(.__wab_flex-container) > *,
.freeBox__kDyd4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kDyd4 > :global(.__wab_flex-container) > picture > img,
.freeBox__kDyd4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  --plsmc-rc-col-gap: 25px;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
  margin-top: 40px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 34px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    --plsmc-rc-col-gap: 25px;
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 25px;
    margin-top: 25px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aqie {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__rwogj:global(.__wab_instance) {
  position: relative;
}
.img__zTdk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__zTdk > picture > img {
  object-fit: cover;
}
.h3___0VU6B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__rhBv6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__lUGt5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__gbKwa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__v1F8Z {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg___98FTj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___3BZwW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__u7Yrp:global(.__wab_instance) {
  position: relative;
}
.img__tVxJn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tVxJn > picture > img {
  object-fit: cover;
}
.h3___36ZcS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__ebyuO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__leLeR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__jp5O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qWw6F {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__wZd82 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__hCccg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__qw8Qd:global(.__wab_instance) {
  position: relative;
}
.img___6NyUj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___6NyUj > picture > img {
  object-fit: cover;
}
.h3__ur3Rt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__pB0CL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__l87RV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__vb1W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__d3Lvp {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__mbHxv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__u41I1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper___7Txe0:global(.__wab_instance) {
  position: relative;
}
.img__j257W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__j257W > picture > img {
  object-fit: cover;
}
.h3__ikQzr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__uWnbK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button___9SlFm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__pb4GC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xmp2Z {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg___0RAgK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__zAToJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__pNlXn:global(.__wab_instance) {
  position: relative;
}
.img__xr4ZG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xr4ZG > picture > img {
  object-fit: cover;
}
.h3__jOrqZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__oGyTa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__u41X1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__qQ9Bx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fAcle {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg___3Sdy8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__vrhAg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__oidBy:global(.__wab_instance) {
  position: relative;
}
.img__dqJoA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__dqJoA > picture > img {
  object-fit: cover;
}
.h3__nD6Ng {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__yDasu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__m7Yk1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__sKwb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zi5Hx {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__xQOhH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__kWo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__d5WLu:global(.__wab_instance) {
  position: relative;
}
.img__urSmx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__urSmx > picture > img {
  object-fit: cover;
}
.h3__fCVi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__tllAy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button___3EiQl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__szKm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2Nei6 {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg___6K6KJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__jLb1F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__bCj62:global(.__wab_instance) {
  position: relative;
}
.img___8W2Xv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___8W2Xv > picture > img {
  object-fit: cover;
}
.h3__fpBu1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__qbslD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__zm5IY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__mdUsM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xQaFt {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__jFM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.ctaBottom:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .ctaBottom:global(.__wab_instance) {
    position: relative;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
