@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600&family=Raleway%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B1%2C400%3B1%2C500%3B1%2C600&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600&display=swap");

.plasmic_tokens {
  --token-APk3p2HDejMw: #d8edea;
  --plasmic-token-unnamed-style-token: var(--token-APk3p2HDejMw);
  --token-LIgRwVlVmsrK: #ffffff;
  --plasmic-token-white: var(--token-LIgRwVlVmsrK);
  --token-4IRR8jyHTel9: #fe5737;
  --plasmic-token-orange: var(--token-4IRR8jyHTel9);
  --token-c6lwCJWKt9oJ: #222222;
  --plasmic-token-heading-h-2: var(--token-c6lwCJWKt9oJ);
  --token-GZfGS5ASd6Pg: 1680px;
  --plasmic-token-container-mixin: var(--token-GZfGS5ASd6Pg);
  --token-uWzFu9K4MvCy: 0px;
  --plasmic-token-pading-container: var(--token-uWzFu9K4MvCy);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-gWDUzQLDCV0m_font-family: "Poppins", sans-serif;
  --mixin-gWDUzQLDCV0m_font-size: 16px;
  --mixin-gWDUzQLDCV0m_font-weight: 300;
  --mixin-gWDUzQLDCV0m_font-style: normal;
  --mixin-gWDUzQLDCV0m_color: #222222;
  --mixin-gWDUzQLDCV0m_text-align: left;
  --mixin-gWDUzQLDCV0m_text-transform: none;
  --mixin-gWDUzQLDCV0m_line-height: 1.65;
  --mixin-gWDUzQLDCV0m_letter-spacing: normal;
  --mixin-gWDUzQLDCV0m_white-space: pre-wrap;
  --mixin-gWDUzQLDCV0m_user-select: text;
  --mixin-gWDUzQLDCV0m_text-decoration-line: none;
  --mixin-gWDUzQLDCV0m_text-overflow: clip;
  --mixin-zYNxpAPKlcHW_color: var(--token-LIgRwVlVmsrK);
  --mixin-zYNxpAPKlcHW_font-weight: 600;
  --mixin-zYNxpAPKlcHW_font-size: 65px;
  --mixin-zYNxpAPKlcHW_line-height: 1.1;
  --mixin-zYNxpAPKlcHW_margin-top: 0px;
  --mixin-zYNxpAPKlcHW_margin-right: 0px;
  --mixin-zYNxpAPKlcHW_margin-bottom: 0px;
  --mixin-zYNxpAPKlcHW_margin-left: 0px;
  --mixin-zYNxpAPKlcHW_font-family: "Raleway", sans-serif;
  --mixin-zYNxpAPKlcHW_text-transform: uppercase;
  --mixin-zYNxpAPKlcHW_box-shadow: none;
  --mixin-zYNxpAPKlcHW_backdrop-filter: none;
  --mixin-zYNxpAPKlcHW_white-space: pre-wrap;
  --mixin-JrBgvaVMSNHz_color: var(--token-c6lwCJWKt9oJ);
  --mixin-JrBgvaVMSNHz_font-weight: 600;
  --mixin-JrBgvaVMSNHz_font-size: 38px;
  --mixin-JrBgvaVMSNHz_line-height: 1.2;
  --mixin-JrBgvaVMSNHz_font-family: "Raleway", sans-serif;
  --mixin-JrBgvaVMSNHz_margin-top: 0px;
  --mixin-JrBgvaVMSNHz_margin-right: 0px;
  --mixin-JrBgvaVMSNHz_margin-bottom: 0px;
  --mixin-JrBgvaVMSNHz_margin-left: 0px;
  --mixin-JrBgvaVMSNHz_white-space: pre-wrap;
  --mixin-2BmW1METoRUO_color: var(--token-4IRR8jyHTel9);
  --mixin-2BmW1METoRUO_font-family: "Poppins", sans-serif;
  --mixin-2BmW1METoRUO_font-weight: 300;
  --mixin-2BmW1METoRUO_font-size: 17px;
  --mixin-2BmW1METoRUO_line-height: 1.65;
  --mixin-2BmW1METoRUO_white-space: pre-wrap;
  --mixin-jWg5z4v_xyYS_color: #000000;
  --mixin-jWg5z4v_xyYS_font-weight: 500;
  --mixin-jWg5z4v_xyYS_font-size: 24px;
  --mixin-jWg5z4v_xyYS_line-height: 1.2;
  --mixin-jWg5z4v_xyYS_font-family: "Poppins", sans-serif;
  --mixin-jWg5z4v_xyYS_margin-top: 0px;
  --mixin-jWg5z4v_xyYS_margin-right: 0px;
  --mixin-jWg5z4v_xyYS_margin-bottom: 0px;
  --mixin-jWg5z4v_xyYS_margin-left: 0px;
  --mixin-jWg5z4v_xyYS_white-space: pre-wrap;
  --mixin-XxXZrTDXsCB1_font-family: "Inter", sans-serif;
  --mixin-XxXZrTDXsCB1_color: #000000;
  --mixin-XxXZrTDXsCB1_font-size: 24px;
  --mixin-XxXZrTDXsCB1_font-weight: 600;
  --mixin-XxXZrTDXsCB1_letter-spacing: -0.5px;
  --mixin-XxXZrTDXsCB1_line-height: 1.3;
  --mixin-XxXZrTDXsCB1_white-space: pre-wrap;
  --mixin-OlgQWhvE7jlz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-OlgQWhvE7jlz_border-bottom-color: #dddddd;
  --mixin-OlgQWhvE7jlz_border-bottom-style: solid;
  --mixin-OlgQWhvE7jlz_border-bottom-width: 1px;
  --mixin-OlgQWhvE7jlz_border-left-color: #dddddd;
  --mixin-OlgQWhvE7jlz_border-left-style: solid;
  --mixin-OlgQWhvE7jlz_border-left-width: 1px;
  --mixin-OlgQWhvE7jlz_border-right-color: #dddddd;
  --mixin-OlgQWhvE7jlz_border-right-style: solid;
  --mixin-OlgQWhvE7jlz_border-right-width: 1px;
  --mixin-OlgQWhvE7jlz_border-top-color: #dddddd;
  --mixin-OlgQWhvE7jlz_border-top-style: solid;
  --mixin-OlgQWhvE7jlz_border-top-width: 1px;
  --mixin-OlgQWhvE7jlz_border-bottom-left-radius: 3px;
  --mixin-OlgQWhvE7jlz_border-bottom-right-radius: 3px;
  --mixin-OlgQWhvE7jlz_border-top-left-radius: 3px;
  --mixin-OlgQWhvE7jlz_border-top-right-radius: 3px;
  --mixin-OlgQWhvE7jlz_font-family: "Inconsolata";
  --mixin-OlgQWhvE7jlz_padding-bottom: 1px;
  --mixin-OlgQWhvE7jlz_padding-left: 4px;
  --mixin-OlgQWhvE7jlz_padding-right: 4px;
  --mixin-OlgQWhvE7jlz_padding-top: 1px;
  --mixin-OlgQWhvE7jlz_white-space: pre-wrap;
  --mixin-m6MwZiW73bRp_margin-top: 0px;
  --mixin-m6MwZiW73bRp_margin-right: 0px;
  --mixin-m6MwZiW73bRp_margin-bottom: 10px;
  --mixin-m6MwZiW73bRp_margin-left: 0px;
  --mixin-m6MwZiW73bRp_color: #ca7716;
  --mixin-m6MwZiW73bRp_font-family: "Playfair Display", serif;
  --mixin-m6MwZiW73bRp_font-size: 18px;
  --mixin-m6MwZiW73bRp_line-height: 1.5;
  --mixin-m6MwZiW73bRp_white-space: pre-wrap;
  --mixin-okFUzo12dIUG_font-family: "Inter", sans-serif;
  --mixin-okFUzo12dIUG_color: #000000;
  --mixin-okFUzo12dIUG_font-size: 16px;
  --mixin-okFUzo12dIUG_font-weight: 600;
  --mixin-okFUzo12dIUG_line-height: 1.5;
  --mixin-okFUzo12dIUG_white-space: pre-wrap;
  --mixin-F69__RJPW9Ii_border-left-color: #dddddd;
  --mixin-F69__RJPW9Ii_border-left-style: solid;
  --mixin-F69__RJPW9Ii_border-left-width: 3px;
  --mixin-F69__RJPW9Ii_color: #888888;
  --mixin-F69__RJPW9Ii_padding-left: 10px;
  --mixin-F69__RJPW9Ii_white-space: pre-wrap;
  --mixin-BLY0IFl9U-yq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-BLY0IFl9U-yq_border-bottom-color: #dddddd;
  --mixin-BLY0IFl9U-yq_border-bottom-style: solid;
  --mixin-BLY0IFl9U-yq_border-bottom-width: 1px;
  --mixin-BLY0IFl9U-yq_border-left-color: #dddddd;
  --mixin-BLY0IFl9U-yq_border-left-style: solid;
  --mixin-BLY0IFl9U-yq_border-left-width: 1px;
  --mixin-BLY0IFl9U-yq_border-right-color: #dddddd;
  --mixin-BLY0IFl9U-yq_border-right-style: solid;
  --mixin-BLY0IFl9U-yq_border-right-width: 1px;
  --mixin-BLY0IFl9U-yq_border-top-color: #dddddd;
  --mixin-BLY0IFl9U-yq_border-top-style: solid;
  --mixin-BLY0IFl9U-yq_border-top-width: 1px;
  --mixin-BLY0IFl9U-yq_border-bottom-left-radius: 3px;
  --mixin-BLY0IFl9U-yq_border-bottom-right-radius: 3px;
  --mixin-BLY0IFl9U-yq_border-top-left-radius: 3px;
  --mixin-BLY0IFl9U-yq_border-top-right-radius: 3px;
  --mixin-BLY0IFl9U-yq_font-family: "Inconsolata";
  --mixin-BLY0IFl9U-yq_padding-bottom: 3px;
  --mixin-BLY0IFl9U-yq_padding-left: 6px;
  --mixin-BLY0IFl9U-yq_padding-right: 6px;
  --mixin-BLY0IFl9U-yq_padding-top: 3px;
  --mixin-BLY0IFl9U-yq_white-space: pre-wrap;
  --mixin-_BQslFF3pAES_display: flex;
  --mixin-_BQslFF3pAES_flex-direction: column;
  --mixin-_BQslFF3pAES_align-items: stretch;
  --mixin-_BQslFF3pAES_justify-content: flex-start;
  --mixin-_BQslFF3pAES_list-style-position: outside;
  --mixin-_BQslFF3pAES_padding-left: 40px;
  --mixin-_BQslFF3pAES_position: relative;
  --mixin-_BQslFF3pAES_list-style-type: decimal;
  --mixin-_BQslFF3pAES_white-space: pre-wrap;
  --mixin--vSex8QxcUQx_display: flex;
  --mixin--vSex8QxcUQx_flex-direction: column;
  --mixin--vSex8QxcUQx_align-items: stretch;
  --mixin--vSex8QxcUQx_justify-content: flex-start;
  --mixin--vSex8QxcUQx_list-style-position: outside;
  --mixin--vSex8QxcUQx_padding-left: 40px;
  --mixin--vSex8QxcUQx_position: relative;
  --mixin--vSex8QxcUQx_list-style-type: disc;
  --mixin--vSex8QxcUQx_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-o2VslHAaK798_white-space: pre-wrap;
  --plasmic-mixin-footer-menu-text_white-space: var(
    --mixin-o2VslHAaK798_white-space
  );
  --mixin-kJ_Avr-v-Nbc_white-space: pre-wrap;
  --plasmic-mixin-padding-section_white-space: var(
    --mixin-kJ_Avr-v-Nbc_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-gWDUzQLDCV0m_font-family);
  font-size: var(--mixin-gWDUzQLDCV0m_font-size);
  font-weight: var(--mixin-gWDUzQLDCV0m_font-weight);
  font-style: var(--mixin-gWDUzQLDCV0m_font-style);
  color: var(--mixin-gWDUzQLDCV0m_color);
  text-align: var(--mixin-gWDUzQLDCV0m_text-align);
  text-transform: var(--mixin-gWDUzQLDCV0m_text-transform);
  line-height: var(--mixin-gWDUzQLDCV0m_line-height);
  letter-spacing: var(--mixin-gWDUzQLDCV0m_letter-spacing);
  white-space: var(--mixin-gWDUzQLDCV0m_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-zYNxpAPKlcHW_color);
  font-weight: var(--mixin-zYNxpAPKlcHW_font-weight);
  font-size: var(--mixin-zYNxpAPKlcHW_font-size);
  line-height: var(--mixin-zYNxpAPKlcHW_line-height);
  font-family: var(--mixin-zYNxpAPKlcHW_font-family);
  text-transform: var(--mixin-zYNxpAPKlcHW_text-transform);
  box-shadow: var(--mixin-zYNxpAPKlcHW_box-shadow);
  backdrop-filter: var(--mixin-zYNxpAPKlcHW_backdrop-filter);
  margin: var(--mixin-zYNxpAPKlcHW_margin-top)
    var(--mixin-zYNxpAPKlcHW_margin-right)
    var(--mixin-zYNxpAPKlcHW_margin-bottom)
    var(--mixin-zYNxpAPKlcHW_margin-left);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-JrBgvaVMSNHz_color);
  font-weight: var(--mixin-JrBgvaVMSNHz_font-weight);
  font-size: var(--mixin-JrBgvaVMSNHz_font-size);
  line-height: var(--mixin-JrBgvaVMSNHz_line-height);
  font-family: var(--mixin-JrBgvaVMSNHz_font-family);
  margin: var(--mixin-JrBgvaVMSNHz_margin-top)
    var(--mixin-JrBgvaVMSNHz_margin-right)
    var(--mixin-JrBgvaVMSNHz_margin-bottom)
    var(--mixin-JrBgvaVMSNHz_margin-left);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-2BmW1METoRUO_color);
  font-family: var(--mixin-2BmW1METoRUO_font-family);
  font-weight: var(--mixin-2BmW1METoRUO_font-weight);
  font-size: var(--mixin-2BmW1METoRUO_font-size);
  line-height: var(--mixin-2BmW1METoRUO_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-jWg5z4v_xyYS_color);
  font-weight: var(--mixin-jWg5z4v_xyYS_font-weight);
  font-size: var(--mixin-jWg5z4v_xyYS_font-size);
  line-height: var(--mixin-jWg5z4v_xyYS_line-height);
  font-family: var(--mixin-jWg5z4v_xyYS_font-family);
  margin: var(--mixin-jWg5z4v_xyYS_margin-top)
    var(--mixin-jWg5z4v_xyYS_margin-right)
    var(--mixin-jWg5z4v_xyYS_margin-bottom)
    var(--mixin-jWg5z4v_xyYS_margin-left);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-XxXZrTDXsCB1_font-family);
  color: var(--mixin-XxXZrTDXsCB1_color);
  font-size: var(--mixin-XxXZrTDXsCB1_font-size);
  font-weight: var(--mixin-XxXZrTDXsCB1_font-weight);
  letter-spacing: var(--mixin-XxXZrTDXsCB1_letter-spacing);
  line-height: var(--mixin-XxXZrTDXsCB1_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-OlgQWhvE7jlz_font-family);
  border-radius: var(--mixin-OlgQWhvE7jlz_border-top-left-radius)
    var(--mixin-OlgQWhvE7jlz_border-top-right-radius)
    var(--mixin-OlgQWhvE7jlz_border-bottom-right-radius)
    var(--mixin-OlgQWhvE7jlz_border-bottom-left-radius);
  padding: var(--mixin-OlgQWhvE7jlz_padding-top)
    var(--mixin-OlgQWhvE7jlz_padding-right)
    var(--mixin-OlgQWhvE7jlz_padding-bottom)
    var(--mixin-OlgQWhvE7jlz_padding-left);
  border-top: var(--mixin-OlgQWhvE7jlz_border-top-width)
    var(--mixin-OlgQWhvE7jlz_border-top-style)
    var(--mixin-OlgQWhvE7jlz_border-top-color);
  border-right: var(--mixin-OlgQWhvE7jlz_border-right-width)
    var(--mixin-OlgQWhvE7jlz_border-right-style)
    var(--mixin-OlgQWhvE7jlz_border-right-color);
  border-bottom: var(--mixin-OlgQWhvE7jlz_border-bottom-width)
    var(--mixin-OlgQWhvE7jlz_border-bottom-style)
    var(--mixin-OlgQWhvE7jlz_border-bottom-color);
  border-left: var(--mixin-OlgQWhvE7jlz_border-left-width)
    var(--mixin-OlgQWhvE7jlz_border-left-style)
    var(--mixin-OlgQWhvE7jlz_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-m6MwZiW73bRp_color);
  font-family: var(--mixin-m6MwZiW73bRp_font-family);
  font-size: var(--mixin-m6MwZiW73bRp_font-size);
  line-height: var(--mixin-m6MwZiW73bRp_line-height);
  margin: var(--mixin-m6MwZiW73bRp_margin-top)
    var(--mixin-m6MwZiW73bRp_margin-right)
    var(--mixin-m6MwZiW73bRp_margin-bottom)
    var(--mixin-m6MwZiW73bRp_margin-left);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-okFUzo12dIUG_font-family);
  color: var(--mixin-okFUzo12dIUG_color);
  font-size: var(--mixin-okFUzo12dIUG_font-size);
  font-weight: var(--mixin-okFUzo12dIUG_font-weight);
  line-height: var(--mixin-okFUzo12dIUG_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-F69__RJPW9Ii_color);
  padding-left: var(--mixin-F69__RJPW9Ii_padding-left);
  border-left: var(--mixin-F69__RJPW9Ii_border-left-width)
    var(--mixin-F69__RJPW9Ii_border-left-style)
    var(--mixin-F69__RJPW9Ii_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-BLY0IFl9U-yq_font-family);
  border-radius: var(--mixin-BLY0IFl9U-yq_border-top-left-radius)
    var(--mixin-BLY0IFl9U-yq_border-top-right-radius)
    var(--mixin-BLY0IFl9U-yq_border-bottom-right-radius)
    var(--mixin-BLY0IFl9U-yq_border-bottom-left-radius);
  padding: var(--mixin-BLY0IFl9U-yq_padding-top)
    var(--mixin-BLY0IFl9U-yq_padding-right)
    var(--mixin-BLY0IFl9U-yq_padding-bottom)
    var(--mixin-BLY0IFl9U-yq_padding-left);
  border-top: var(--mixin-BLY0IFl9U-yq_border-top-width)
    var(--mixin-BLY0IFl9U-yq_border-top-style)
    var(--mixin-BLY0IFl9U-yq_border-top-color);
  border-right: var(--mixin-BLY0IFl9U-yq_border-right-width)
    var(--mixin-BLY0IFl9U-yq_border-right-style)
    var(--mixin-BLY0IFl9U-yq_border-right-color);
  border-bottom: var(--mixin-BLY0IFl9U-yq_border-bottom-width)
    var(--mixin-BLY0IFl9U-yq_border-bottom-style)
    var(--mixin-BLY0IFl9U-yq_border-bottom-color);
  border-left: var(--mixin-BLY0IFl9U-yq_border-left-width)
    var(--mixin-BLY0IFl9U-yq_border-left-style)
    var(--mixin-BLY0IFl9U-yq_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-_BQslFF3pAES_display);
  flex-direction: var(--mixin-_BQslFF3pAES_flex-direction);
  align-items: var(--mixin-_BQslFF3pAES_align-items);
  justify-content: var(--mixin-_BQslFF3pAES_justify-content);
  list-style-position: var(--mixin-_BQslFF3pAES_list-style-position);
  padding-left: var(--mixin-_BQslFF3pAES_padding-left);
  position: var(--mixin-_BQslFF3pAES_position);
  list-style-type: var(--mixin-_BQslFF3pAES_list-style-type);
  flex-column-gap: var(--mixin-_BQslFF3pAES_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin--vSex8QxcUQx_display);
  flex-direction: var(--mixin--vSex8QxcUQx_flex-direction);
  align-items: var(--mixin--vSex8QxcUQx_align-items);
  justify-content: var(--mixin--vSex8QxcUQx_justify-content);
  list-style-position: var(--mixin--vSex8QxcUQx_list-style-position);
  padding-left: var(--mixin--vSex8QxcUQx_padding-left);
  position: var(--mixin--vSex8QxcUQx_position);
  list-style-type: var(--mixin--vSex8QxcUQx_list-style-type);
  flex-column-gap: var(--mixin--vSex8QxcUQx_flex-column-gap);
}
